* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 2;
}

.left-section {
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70px;
    height: auto;

}

.logo h1 {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.image-credit {
    bottom: 0;
    color: white;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}

.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro-text {
    flex: 1;
    align-content: end;
    padding: 40px 60px;
    font-size: 2rem;
    font-weight: 600;
}

.intro-text p {
    margin-bottom: 20px;
}

#signupForm {
    flex: 1;
}

.input-container {
    box-shadow: 0px 3px 10px lightgray;
    padding: 30px 40px;
}
legend{
    font-size: 2rem;
    font-weight: 500;
}
.raw{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.input-group{
    display: flex;
    flex-direction: column;
    width: 260px;
}
input{
    border-radius: 3px;
    height: 30px;
    border: 1px solid #E5E7EB;
}
input:focus{
    border: 1px solid blue;
    outline: none;
    box-shadow: 0 0 3px black;
}
input:invalid{
    outline: none;
    border: 1px solid red;
}
.button-container{
    padding: 30px;
}
.submit-btn{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #596d48;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border-style: none;
}

.login-link {
    flex: 1;
    padding: 0 30px;
    font-size: 1rem;
}
.login-link a{
    text-decoration-line: none;
    color: #596d48;
    font-weight: 600;
}