* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 2;
}

.left-section {
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
    background-color: rgba(0,0,0,0.5);
    margin-top: 20vh;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 70px;
    height: auto;

}
.logo h1{
    color: white;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.image-credit{
    bottom: 0;
    color: white;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}
